* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --purple: #7d00eb;
  --deep-brown: #bf8260;
  --warmth: #f6efec;
  --general-padding: 1.25rem;
  --lato-font: "Lato", sans-serif;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  min-width: 100vw;
}

/* Disable default link styles */
a {
  text-decoration: none;
  color: inherit;
}

.g-padding {
  padding: var(--general-padding);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header .logo img {
  width: 76px;
  object-fit: contain;
}

header nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

header nav .bTickets {
  color: var(--purple);
  font-weight: 800;
  font-size: 0.75rem;
}

header nav .bTickets i {
  margin-left: 8px;
}

header nav .menu {
  border: none;
  background: none;
  font-size: 1.75rem;
}

.hero {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.hero .hero-imgOne {
  display: grid;
  justify-self: center;
  width: 272px;
  height: 212px;
}

.hero .hero-imgOne img {
  width: 100%;
  object-fit: contain;
  transition: 0.5s;
}

.hero .hero-imgTwo {
  position: relative;
  top: -64px;
  z-index: -1;
}

.about--container {
  display: grid;
  justify-content: center;
}

.about .about--heading {
  text-align: center;
  margin-bottom: 60px;
}

.about .about--heading p {
  word-spacing: 8px;
  font-weight: 500;
  color: var(--purple);
  margin-bottom: 32px;
}

.about .about--heading h2 {
  line-height: 2;
}

.about .about--main {
  display: grid;
  gap: 30px;
  border: 4px solid var(--purple);
}

.main--heading {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 0px;
}

.main--heading .upperText {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  gap: 12px;
  color: var(--purple);
}

.main--heading .middleText {
  text-align: center;
  font-size: 2.5rem; //40px
}
.main--heading .middleText .focusText {
  position: relative;
  font-weight: 700;
  color: var(--purple);
}

.main--heading .middleText .focusText::before {
  position: absolute;
  width: 10.9375rem;
  height: 3px;
  content: "";
  bottom: 0;
  background-color: var(--purple);
}

.main--texts {
  font-family: var(--lato-font);
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 20px 10px;
  background-color: var(--purple);
  color: var(--white);
  border: none;
}

.main--texts footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.main--texts footer img {
  width: 74px;
}

.about--footerLinks {
  display: flex;
  gap: 20px;
  font-size: 1rem;
}

.credits--container {
  display: grid;
  gap: 50px;
  background-color: var(--warmth);
}

.credits--intro {
}

.credits--intro .cI--heading {
  /* font-weight: 500; */
  font-family: var(--lato-font);
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--deep-brown);
  margin-bottom: 20px;
}
.cI--heading .highlight {
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 0.5px var(--deep-brown);
}

.cI--heading .highlight-little {
  font-weight: 300;
}

.credits--intro hr {
  background-color: var(--deep-brown);
}

.cI--texts {
  margin-top: 30px;
}
