* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --warmth: #f6efec;
  --alice-blue: #eaf0f2;
  --purple: #7d00eb;
  --deep-brown: #bf8260;

  --general-padding: 1.5rem; /* 24px*/
  --line-height-1-2: 1.2;
  --line-height-1-4: 1.4;
  --line-height-1-8: 1.8;
  --font-size-14: 0.875rem;
  --font-size-24: 1.5rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --lato-font: "Lato", sans-serif;
}

body {
  display: grid;
  gap: 50px;
  font-family: "Cabinet Grotesk", sans-serif;
  min-height: 100vh;
}

/* Disable default link styles */
a {
  text-decoration: none;
  color: inherit;
}

a > span {
  text-decoration: underline;
  text-underline-offset: 2px;
}

h1 {
  font-size: var(--font-size-32);
}

.g-padding {
  padding: var(--general-padding);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

header .logo img {
  width: 76px;
  object-fit: contain;
}

header nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

nav .bTickets {
  color: var(--purple);
  font-weight: 800;
  font-size: 0.75rem;
}

.bTickets * {
  text-decoration: none;
}

.bTickets i {
  margin-left: 8px;
}

header nav .menu {
  border: none;
  background: none;
  font-size: 1.75rem;
}

.hero {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.hero .hero-imgOne {
  display: grid;
  justify-self: center;
  width: 272px;
  height: 212px;
}

.hero .hero-imgOne img {
  width: 100%;
  object-fit: contain;
  transition: 0.5s;
}

.hero .hero-imgTwo {
  position: relative;
  top: -64px;
  z-index: -1;
}

.about--container {
  display: grid;
  justify-content: center;
}

.about .about--heading {
  text-align: center;
  margin-bottom: 60px;
}

.about .about--heading p {
  word-spacing: 8px;
  font-weight: 500;
  color: var(--purple);
  margin-bottom: 32px;
}

.about .about--heading h2 {
  line-height: 2;
}

.about .about--main {
  display: grid;
  gap: 30px;
  border: 4px solid var(--purple);
}

.main--heading {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 0px;
}

.main--heading .upperText {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  gap: 12px;
  color: var(--purple);
}

.main--heading .middleText {
  text-align: center;
  font-size: 2.5rem; /* 40px */
}
.main--heading .middleText .focusText {
  position: relative;
  font-weight: 700;
  color: var(--purple);
}

.main--heading .middleText .focusText::before {
  position: absolute;
  width: 10.9375rem;
  height: 3px;
  content: "";
  bottom: 0;
  background-color: var(--purple);
}

.main--texts {
  font-family: var(--lato-font);
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 20px 10px;
  background-color: var(--purple);
  color: var(--white);
  border: none;
}

.main--texts footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.main--texts footer img {
  width: 74px;
}

.about--footerLinks {
  display: flex;
  gap: 20px;
  font-size: 1rem;
}

.credits--container {
  position: relative;
  background-color: var(--warmth);
  width: 100%;
  overflow: hidden;
}

.credits--intro {
}

.credits--intro .cI--heading {
  /* font-weight: 500; */
  font-family: var(--lato-font);
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--deep-brown);
  margin-bottom: 20px;
}
.cI--heading .highlight {
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 0.5px var(--deep-brown);
}

.cI--heading .highlight-little {
  font-weight: 300;
}

.credits--intro hr {
  background-color: var(--deep-brown);
}

.cI--texts {
  margin-top: 30px;
}

.carousel--wrapper {
  grid-row: 3; /* target the second row (index starts at 1) */
  margin-top: 0; /* add a margin to the top of the selected row to increase the gap */
  margin-bottom: 10px;
  width: 100%;
  padding-left: var(--general-padding);
  padding-right: 0;
}

.carousel--heading {
  color: var(--deep-brown);
  font-weight: bold;
  margin-bottom: 20px;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2));
  list-style: none;
  gap: 42px;
  overflow: auto;
  overflow-y: hidden;
}

.carousel::-webkit-scrollbar {
  width: 0;
}

.card .card--img {
  position: relative;
  margin-bottom: 10px;
}
.card--img img {
  width: 100%;
  object-fit: cover;
}
.card--img .tag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  width: 84px;
  height: 32px;
  font-size: var(--font-size-14);
  font-weight: bold;
  color: var(--white);
  background-color: var(--purple);
}

/* Review later */
.card--img .tag--orange {
  width: 122px;
  background-color: orangered;
}

.cards .h5,
.card .h2 {
  font-family: var(--lato-font);
}

.organizers--container {
  position: relative;
  display: grid;
  /* grid-template-columns: repeat(1fr 1fr); */
  /* gap: 40px; */
  padding-bottom: 40px;
}

.oc--Heading p {
  font-size: var(--font-size-24); /*24px*/
}
.oc--Heading h1 {
  position: relative;
}

.oc--Heading h1::after {
  position: absolute;
  content: url("../img/arrow.svg");
  top: 15px;
}

.readMore {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-size: 1.25rem; /* 20px */
  color: var(--purple);
}

.readMore i {
  margin-left: 8px;
}

.organizers---wrapper {
  background-color: var(--alice-blue);
}

.organizers--card {
  display: grid;
  gap: 16px;
}

/* .organizer--info {
  display: grid;
  gap: 20px;
} */

.organizerTitle--wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.organizerTitle--wrapper p {
  font-size: 1.875rem;
}

.organizer--about {
  margin-top: 1rem;
  line-height: 1.8;
  font-size: var(--font-size-14);
}

.organizers--list {
  position: relative;
  display: flex;
  gap: 6px;
}

.organizers--list::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 18%;
  width: 45%;
  height: 100%;
  background: linear-gradient(to right, transparent, var(--alice-blue));
}

.organizers--list a {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 0;
  font-size: var(--font-size-14);
  font-weight: bold;
  color: var(--purple);
  text-wrap: nowrap;
  z-index: 1;
}

.sponsor--container {
  display: grid;
  /* grid-template-columns: repeat(1fr 1fr); */
  gap: 50px;
}

.become--sponsor {
  display: grid;
  gap: 16px;
}

.become--sponsor h1 {
  width: 50%;
}

.become--sponsor p {
  line-height: 1.8;
  font-size: var(--font-size-14);
}

.become--sponsor a {
  color: var(--purple);
}

.pc--header {
  text-align: center;
  line-height: var(--line-height-1-4);
  margin-bottom: 20px;
}

.pricingCard--wrapper {
  display: grid;
  gap: 12px;
}

.pricing--card {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 35px 10px;
  border-top: 5px solid var(--purple);
  background-color: var(--warmth);
}

.pricing--card > .heading {
  text-align: center;
  line-height: var(--line-height-1-4);
}

.type {
  font-size: var(--font-size-30);
}

.price {
  color: transparent;
  -webkit-text-stroke: 1px transparent;
  -webkit-text-fill-color: transparent;
  /* background: rgb(123, 0, 234); */
  background: linear-gradient(
    90deg,
    rgba(123, 0, 234, 1) 0%,
    rgba(253, 194, 255, 1) 100%
  );

  -webkit-background-clip: text;
}
