* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --warmth: #f6efec;
  --alice-blue: #eaf0f2;
  --lochmara: #267a96;
  --purple: #7d00eb;
  --deep-brown: #bf8260;
  --stroke-gradient: linear-gradient(
    90deg,
    rgba(123, 0, 234, 1) 0%,
    rgba(253, 194, 255, 1) 100%
  );

  --general-padding: 1.5rem; /* 24px*/
  --line-height-1-2: 1.2;
  --line-height-1-4: 1.4;
  --line-height-1-8: 1.8;
  --font-size-14: 0.875rem;
  --font-size-24: 1.5rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --font-size-40: 2.5rem;
  --lato-font: "Lato", sans-serif;
  --cabinet-font: "Cabinet Grotesk", sans-serif;
  --global-grid-column: repeat(auto-fit, minmax(250px, 1fr));
}

body {
  display: grid;
  gap: 50px;
  font-family: var(--cabinet-font);
  min-height: 100vh;
}

/* Disable default link styles */
a {
  text-decoration: none;
  color: inherit;
}

a span {
  text-decoration: underline;
  text-underline-offset: 2px;
}

h1 {
  font-size: var(--font-size-32);
}

.g-padding {
  padding: var(--general-padding);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo img {
  width: 76px;
  object-fit: contain;
}

nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav--links {
  display: none;
  gap: 24px;
  text-transform: uppercase;
}

.bTickets {
  color: var(--purple);
  font-weight: 800;
  font-size: 0.75rem;
}

.bTickets * {
  text-decoration: none;
}

.bTickets i {
  margin-left: 8px;
}

.menu {
  border: none;
  background: none;
  font-size: 1.75rem;
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: var(--global-grid-column);
  justify-items: center;
  align-items: center;
  margin-top: 25px;
}

.hero .hero-imgOne {
  position: relative;
  display: flex;
  width: 17rem; /* 272px */
  height: 13.25rem; /* 212px */
}

.hero-arrow {
  display: none;
}

.hero .hero-imgOne img:last-child {
  width: 100%;
  object-fit: contain;
  transition: 0.5s;
}

.hero .hero-imgTwo {
  position: relative;
  top: -64px;
  z-index: -1;
}

.vr {
  display: none;
  position: absolute;
  width: 200px;
  top: 0;
}

.about--container {
  display: grid;
  justify-content: center;
}

.about--heading {
  text-align: center;
  margin-bottom: 60px;
}

.about--heading p {
  word-spacing: 8px;
  font-weight: 500;
  color: var(--purple);
  margin-bottom: 32px;
}

.about--heading h2 {
  line-height: 2;
}

.about--main {
  display: grid;
  grid-template-columns: var(--global-grid-column);
  gap: 30px;
  border: 4px solid var(--purple);
}

.main--heading {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 0px;
}

.main--heading .upperText {
  display: flex;
  /* justify-content: space-between; */
  font-weight: 700;
  gap: 12px;
  color: var(--purple);
}

.main--heading .middleText {
  text-align: center;
  font-size: 2.5rem; /* 40px */
}
.main--heading .middleText .focusText {
  position: relative;
  font-weight: 700;
  color: var(--purple);
}

.main--heading .middleText .focusText::before {
  position: absolute;
  width: 10.9375rem;
  height: 3px;
  content: "";
  bottom: 0;
  background-color: var(--purple);
}

.main--texts {
  font-family: var(--lato-font);
  line-height: var(--line-height-1-8);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 20px 10px;
  background-color: var(--purple);
  color: var(--white);
  border: none;
}

.main--texts footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.main--texts footer img {
  width: 74px;
}

.about--footerLinks {
  display: flex;
  gap: 20px;
  font-size: 1rem;
}

.credits--container {
  position: relative;
  background-color: var(--warmth);
  width: 100%;
  overflow: hidden;
}

/* .credits--intro {
} */

.credits--intro .cI--heading {
  /* font-weight: 500; */
  font-family: var(--lato-font);
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--deep-brown);
  margin-bottom: 20px;
}
.cI--heading .highlight {
  font-weight: 800;
  -webkit-text-stroke: 1.5px transparent;
  -webkit-text-fill-color: var(--warmth);
  background-color: var(--deep-brown);
  -webkit-background-clip: text;
}

.cI--heading .highlight-little {
  font-weight: 300;
}

.credits--intro hr {
  background-color: var(--deep-brown);
}

.cI--texts {
  margin-top: 30px;
}

.carousel--wrapper {
  /* target the second row (index starts at 1) */
  /* margin-top: 0; add a margin to the top of the selected row to increase the gap */
  margin-bottom: 10px;
  width: 100%;
  padding: 0 0 var(--general-padding) var(--general-padding);
}

.carousel--heading {
  color: var(--deep-brown);
  font-weight: bold;
  margin-bottom: 20px;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2));
  list-style: none;
  gap: 42px;
  padding-right: 1rem;
  overflow: auto;
  overflow-y: hidden;
}

.carousel::-webkit-scrollbar {
  width: 0;
}

.card .card--img {
  position: relative;
  margin-bottom: 10px;
}
.card--img img {
  width: 100%;
  object-fit: cover;
}
.card--img .tag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  width: 84px;
  height: 32px;
  font-size: var(--font-size-14);
  font-weight: bold;
  color: var(--white);
  background-color: var(--purple);
}

/* Review later */
.card--img .tag--orange {
  width: 122px;
  background-color: orangered;
}

.cards .h5,
.card .h2 {
  font-family: var(--lato-font);
}

.organizers--container {
  position: relative;
  display: grid;
  grid-template-columns: var(--global-grid-column);
  /* gap: 40px; */
  padding-bottom: 40px;
}

.oc--wrapper {
  padding: var(--general-padding);
}
.oc--Heading p {
  font-size: var(--font-size-24); /*24px*/
}
.oc--Heading h1 {
  position: relative;
}

.oc--Heading h1::after {
  position: absolute;
  content: url("../img/arrow.svg");
  top: 15px;
}

.readMore {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  text-wrap: nowrap;
  font-size: 1.25rem; /* 20px */
  color: var(--purple);
}

.readMore i {
  margin-left: 8px;
}

.organizers---wrapper {
  background-color: var(--alice-blue);
}

.organizers--card {
  display: grid;
  gap: 16px;
  padding: var(--general-padding);
}

/* .organizer--info {
  display: grid;
  gap: 20px;
} */

.organizerTitle--wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.organizerTitle--wrapper p {
  font-size: 1.875rem;
}

.organizer--about {
  margin-top: 1rem;
  line-height: 1.8;
  font-size: var(--font-size-14);
}

.organizers--list {
  position: relative;
  display: flex;
  gap: 6px;
}

.organizers--list::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 18%;
  width: 45%;
  height: 100%;
  background: linear-gradient(to right, transparent, var(--alice-blue));
}

.organizers--list a {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 0;
  font-size: var(--font-size-14);
  font-weight: bold;
  color: var(--purple);
  text-wrap: nowrap;
  z-index: 1;
}

.sponsor--container {
  display: grid;
  grid-template-columns: var(--global-grid-column);
  gap: 50px;
}

.become--sponsor {
  display: grid;
  align-content: start;
  gap: 16px;
}

.become--sponsor h1 {
  width: 50%;
}

.become--sponsor p {
  line-height: 1.8;
  font-size: var(--font-size-14);
}

.become--sponsor a {
  color: var(--purple);
}

.pc--header {
  text-align: center;
  line-height: var(--line-height-1-4);
  margin-bottom: 20px;
}

.pricingCard--wrapper {
  display: grid;
  grid-template-columns: var(--global-grid-column);
  gap: 12px;
}

.pricing--card {
  --_pricing--card-bg: var(--pricing--card-bg, var(--warmth));
  --_border-color: var(--border-color, var(--purple));
  --_i-style-color: var(--i-style-color, var(--purple));
  --_link-color: var(--link-color, var(--purple));

  --_price-color: var(--price-color, var(--warmth));
  --_stroke-background: var(--stroke-background, var(--stroke-gradient));
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 35px 10px;
  border-top: 5px solid var(--_border-color);
  background-color: var(--_pricing--card-bg);
}

.pricing--card > h2 {
  color: var(--_link-color);
  font-weight: 800;
  text-align: center;
  text-decoration: ;
  font-size: var(--font-size-24);
}

.pricing--card > .heading {
  text-align: center;
  line-height: var(--line-height-1-4);
}

.type {
  font-size: var(--font-size-30);
}

.price {
  color: var(--_price-color);
  /* background: rgb(123, 0, 234); */
  background: var(--_stroke-background);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
}

.perks {
  position: relative;
  list-style: none;
  line-height: 2.6;
}

.perks li {
  display: flex;
  align-items: center;
}

.perks li i {
  margin-right: 10px;
  color: var(--_i-style-color);
}

.pricing--card-online {
  --pricing--card-bg: var(--alice-blue);
  --border-color: var(--lochmara);
  --i-style-color: var(--lochmara);
  --link-color: var(--lochmara);
  --price-color: var(--lochmara);
  --stroke-background: none;
}

.pricing--card-online .type {
  color: var(--alice-blue);
  background: black;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
}

.pricing--card-online .perks::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 18%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--alice-blue));
}

.pricing--card-online h2 {
  z-index: 2;
}

.footer {
  position: relative;
  font-family: var(--lato-font);
  background-color: var(--warmth);
}

.scroll-top {
  position: absolute;
  top: 3rem;
  right: 24px;
  color: var(--purple);
  font-size: var(--font-size-32);
}

.footer > .g-padding {
  padding: 3rem var(--general-padding);
}

.footer h2 {
  font-size: var(--font-size-24);
}

.footer--links--main-wrapper {
  display: grid;
  grid-template-columns: var(--global-grid-column);
  gap: 40px;
}

.footer--links-header p {
  font-size: 0.75rem;
  margin-bottom: 8px;
}

.footer--links-header h2 {
  color: var(--purple);
}

.footer--links-wrapper {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.footer--links {
  display: grid;
  gap: 10px;
  text-wrap: nowrap;
}

.footer--links ul {
  display: contents;
  font-size: 0.75rem;
}

.footer--links li {
  list-style: none;
  text-transform: uppercase;
  text-wrap: balance;
}

.footer--about h2 {
  margin-bottom: 20px;
}
.footer--about p {
  text-wrap: balance;
  line-height: var(--line-height-1-8);
  font-family: var(--cabinet-font);
  font-size: var(--font-size-14);
}

.socialsnOthers {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.socialsnCopyright p {
  margin-top: 20px;
  font-size: var(--font-size-14);
}

.socials--links {
  display: flex;
  gap: 30px;
  font-size: 1rem;
  color: var(--purple);
}

@media screen and (min-width: 768px) {
  :root {
    --general-padding: 3rem;
  }

  .nav--links {
    display: flex;
  }

  .bTickets {
    font-size: 1rem;
  }

  .bTickets:has(i) > span {
    text-decoration: underline;
  }

  .menu {
    display: none;
  }

  .hero .hero-imgOne {
    width: 100%;
    height: 100%;
  }

  .hero-arrow {
    display: inline-block;
    position: relative;
    height: 150px;
    top: 200px;
    border-style: none;
  }
  .hero .hero-imgTwo {
    top: 0;
  }

  .vr {
    display: block;
  }

  .about--heading p {
    margin-bottom: 10px;
  }

  .main--texts {
    text-wrap: wraps;
    padding: 30px 25px;
  }

  .main--heading {
    align-content: center;
    gap: 30px;
    padding: 30px 10px;
  }

  .about .about--main {
    gap: 0;
  }
  .main--heading .upperText {
    font-size: 1.25rem;
  }
  /* 
  .main--texts {
    /* font-size: 1rem; 
  } */

  .carousel--heading {
    font-size: 1.5rem;
  }

  .carousel {
    grid-auto-columns: calc((80% / 2));
  }

  .organizers--container {
    gap: 50px;
    padding: var(--general-padding);
  }

  .organizers--container h1 {
    font-size: var(--font-size-40);
  }

  .oc--wrapper {
    display: grid;
    align-content: space-between;
    padding: 1.5rem;
    background-color: var(--alice-blue);
  }

  .oc--Heading p {
    font-size: var(--font-size-30);
  }

  .oc--Heading h1::after {
    content: url("../img/arrow2.svg");
    top: 25px;
  }

  .readMore {
    position: relative;
    /* font-size: var(--font-size-24); */
  }

  .organizers---wrapper {
    background-color: transparent;
  }

  .organizers--card {
    padding: 0;
  }

  .organizer--about {
    font-size: 1rem;
  }

  .organizers--list::after {
    right: 20%;
    background: linear-gradient(to right, transparent, var(--white));
  }

  /* Footer */

  .footer--links--main-wrapper {
    grid-template-columns: 40% 60%;
    gap: 0;
  }

  .footer--links-wrapper {
    flex-direction: row;
  }

  .socialsnOthers {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 30px;
    gap: 0;
  }
}
